
body,p,ul,li{
    margin:0;
    padding:0;
}
/*inherit 是继承  a继承父元素 如果父元素没有 就继承祖先元素*/
a{
    color:inherit;
    /* color:red; */
    text-decoration:none;
}
body{
    background-color: black;
    color:white;
}
.topNavBar{
    padding:20px 16px;
}
.topNavBar>.logo{
    font-size:24px;
    font-family:"Arial Black";
    font-weight:bold;
    padding-top:5px;
    padding-bottom:2px;
}
.topNavBar>.logo>.rs{
    margin-right:4px;
    color:#e6686a;
    
}
.topNavBar>.logo>.card{
    color:#9a9da2;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.topNavBar>a{
    float:left;
}
.topNavBar>nav{
    float:right;
    padding-top:11px;
    padding-bottom:2px;
}
.topNavBar>nav>ul{
    list-style:none;
}
.topNavBar>nav>ul>li{
    float:left;
    margin: 0 17px 0 17px;
}
.topNavBar>nav>ul>li>a{
    font-size:12px;
    color:#b7b7b7;
    font-weight: bold;
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    display:block;
    padding-left:3px;
    padding-bottom:3px;
}

.topNavBar>nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}